@import "tailwindcss";

@theme {
  --font-editorial: "Editorial", sans-serif;
}

:root {
  font-family: Editorial, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */


@font-face {
  font-family: "Editorial";
  src: url("./assets/fonts/editorial/PPEditorialNew-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Editorial";
  src: url("./assets/fonts/editorial/PPEditorialNew-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Editorial";
  src: url("./assets/fonts/editorial/PPEditorialNew-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Editorial";
  src: url("./assets/fonts/editorial/PPEditorialNew-UltralightItalic.otf");
  font-weight: 200;
  font-style: italic;
}